
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="frontheader">About Us</h2>
</div>

<div class="container col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <div id="foundingstory">
        <p>
            Many of you know the story of the Three Litle Pigs and the Big Bad Wolf. When the three Piggleton brothers
            escaped what many thought would be their certain deaths at the hands of the Big Bad Wolf, it ignited within
            them a desire to bring high quality craftmanship and wolf proof housing to the rest of the porcine community.
            What began as a small business of three brothers has grown into a 3000 plus employee company with revenues of
            over 1 billion dollars each year. All brick homes come with the WolfProof Guarantee&trade;, and with the piece
            of mind that you have purchased from the best home builder in the country.
        </p>
    </div>
</div>
<div class="container col-lg-6 col-md-12 col-sm-12 col-xs-12">
    <img id="founders" src="~/Content/Images/founders.png" />

</div>
