
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="frontheader">Where You Can Find Us</h2>

<div id="flip"><h3 class="frontheader">New York</h3></div>
<div id="panel">
    <img class="city" src="~/Content/Images/newyork.png" />
    <p class="cityname">New York 800.555.0000</p>
</div>

<div id="flip2"><h3 class="frontheader">San Francisco</h3></div>
<div id="panel2">
    <img class="city" src="~/Content/Images/sanfran.png" />
    <p class="cityname">San Francisco 800.555.0001</p>
</div>

<div id="flip3"><h3 class="frontheader">Calgary</h3></div>
<div id="panel3">
    <img class="city" src="~/Content/Images/calgary.png" />
    <p class="cityname">Calgary 800.555.0002</p>
</div>

<div id="flip4"><h3 class="frontheader">Austin</h3></div>
<div id="panel4">
    <img class="city" src="~/Content/Images/austin.png" />
    <p class="cityname">Austin 800.555.0003</p>
</div>

