
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="frontheader">Little Red Riding Hood Decoy Services</h2>

<div class="container col-lg-7 col-md-12 col-sm-12 col-xs-12">
    <div id="servicesdescription">
        <p>
            <em>There are wolves out there...</em>
        </p>
        <p>We have all felt the anxiety of living in a world where a wolf can come at anytime to attempt to
        blow one's house down. It's a fact of life that we live with every day, and not everyone can afford 
        to build a brick house or is in the position to move. That's where our experts come in! Our trained 
        Little Red Riding Hood Decoy professionals will come to your home and set up decoys to distract the 
        local wolf population from your home. In extreme circumstances an actual professional will dress up
        as Little Red Riding Hood and lead the wolf away from your home to an area far away from porcine habitation.
        </p>
        <p>Call now <b>800.555.0005</b>
</p>

    </div>
</div>
<div class="container col-lg-5 col-md-12 col-sm-12 col-xs-12">
    <img id="redpig" src="~/Content/Images/redpig.png" />
</div>


