html {
    width: 100%;
}

body {
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: aliceblue;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#search {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

    #search input {
        display: inline;
    }


@media screen and (min-width: 1px) and (max-width: 767px) {
    #columns[data-columns]::before {
        content: '2 .col-xs-12';
    }
}

@media screen and (min-width:768px) and (max-width: 991px) {
    #columns[data-columns]::before {
        content: '3 .col-sm-4';
    }
}

@media screen and (min-width:992px) and (max-width: 9999px) {
    #columns[data-columns]::before {
        content: '4 .col-md-3';
    }
}
.navbar navbar-inverse{
    margin: 3em;
    width: 100%;
    height: 100em;
}

#frontheader{
    text-align: center;
    padding: 1em;
}
#househeader{
    text-align:center;
}

#description {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 1em;
}

#name {
    font-size: 2em;
    margin: 2em;
}

#img {
    width: 60%;
}

#heading {
    font-family: 'Comic Sans MS';
    font-size: 100em;
    position: relative;
    left: .03em;
}

#houseimage {
    float: left;
    margin: 3em;
}

.row {
    background-color: forestgreen;
    padding: 1em;
    width: auto;
}

#surveydescription {
    padding: 1.5em;
}

.form-group {
    padding: 2em;
}

    .form-group label {
        width: 20em;
        display: inline-block;
    }
    .form-control{
        display: inline;
    }
    input{
        display:inline-block;
        width: 300px;
        margin: 0;
    }

#img2{
    width: 50em;
    float:right;
    right: 10em;
    opacity: .2;
    
}
.surveybody {
    background: linear-gradient(rgba(255, 255, 255, .1), rgba(255, 255, 255, .2)), url('Images/prettypig.png'); background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
form button{
    text-align: center;
    margin-left: 20em;
}


#detailImage {
    width: 40%;
    float: right;
    box-shadow: 4px 4px 6px #aaa;
}
/*.front{
    width: 100%;
    box-shadow: 4px 4px 6px #aaa;
}*/

#state{
    font-size: .75em;
    margin-left: 1em;
}


.stats1{
   float:left;
   display: inline-block;
   max-width:200px;
   margin: 1em;
}


.subhed{
    margin:1em;
    padding-right: 5em;
    padding-top: 5em;
}




ul{
    list-style-type:none;
}

li{
    display:block;
}
li:first-child{

}
.carousel .item {
    padding-top: 5em;
    width: 100%; 
    max-height: 30em; 
}

    .carousel .item img {
        width: 100%; 
    }

@media (max-width: 767px) {
    .block {
        margin-left: -10em;
        margin-right: -10em;
    }
}

#houseimage {
    width: 20em;
    box-shadow: 4px 4px 6px #aaa;
}

.carousel-indicators li {
    visibility: hidden;
}

.social{
    margin-left:auto;
    margin-right:auto;
}

.houses{
    display:inline-block;
    padding-bottom: 5em;
}

.button{
    position:relative;
    left: 9em;
}
.socialspan{
    padding-left: 5em;
}

#abouthead{
    text-align:center;
    padding-top: 1em;   
    padding-bottom: 1em;
}

#founders{
    padding-top: 2em;
    width: 40%;
    float: right;
}